
@media (max-width: 700px) {
 
    .nav-panel .nav-links {
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 100;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(85, 7, 211);
      transition: .5s;
      display: none;
    }
  
    .nav-panel .open-menu {
      display: block;
      margin-right: 35px;
    }
  
    .nav-panel .open-menu:hover {
      color: rgb(103, 101, 101);
    }
  
    .nav-panel .nav-links .close-menu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  
    .nav-panel .nav-links .close-menu:hover {
      color: rgb(103, 101, 101);
    }
  
    .nav-panel .nav-links li .link, .logout-btn{
      background-color: orange;
      color: white;
      font-size: 2rem;
      margin-bottom: 50px;
    }
  
    .nav-panel .nav-links li .link:hover {
      font-size: 2.5rem;
    }
  
    .nav-panel .nav-links li .logout-btn:hover {
      font-size: 2.5rem;
    }
  
    .container-signup {
      width: 350px;
      height: 530px;
    }
  
    .container-login {
      width: 350px;
      height: 350px;
    }
  
    .form h1 {
      font-size: 1.5rem;
      margin-bottom: 5px;
    }
  
    .form input {
      width: 250px;
      font-size: 0.8rem;
    }
  
    .form .submit-btn {
      width: 250px;
      font-size: 1rem;
    }
  
    .form .account-exist, .no-account {
      margin-top: 8px;
      font-size: 12px;
    }
  
    .error {
      font-size: 10px;
    }
  
    .success-message {
      font-size: 10px;
      padding: 3px 8px;
    }
  
    .error-message {
      font-size: 10px;
      padding: 3px 8px;
    }
  
    .finalresult {
      font-size: 30px;
    }
    
    .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

  }

  @media (max-width: 1000px) {
   

    .form h1 {
      font-size: 0.833vw;
      margin-bottom: 5px;
    }


    .finalresult {
      font-size: 4.167vw;
    }

    .link-hehe {
      display: none;
      position: absolute;
      overflow: auto;
      box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    }
    
    .logout:hover .link-hehe {
      display: block;
    }
    
    .link-hehe a {
      display: block;
      color: #000000;
      padding: 5px;
      text-decoration: none;
      padding:20px 40px;
    }
    
    .link-hehe a:hover {
      color: #0a0a23;
      background-color: #ddd;
      border-radius:5px;
    }
  
    .section-text-fromheadline{
      position: relative;
      font-size: x-large;
      color: white;
    }
  
    .explore {
      color:rgb(0, 255, 42);
      
      text-decoration: none;
      top: 60px;
      position: relative;
      font-size: 80px;
      animation: fadeIn 5s;
    }
  
    .explore:hover {
      transition: 2s ease;
      color:rgb(229, 255, 0);
    }

  }